<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- 配置 SpringSecurity 的登录登出信息 -->
	<security:http auto-config="true">
	
		<!-- 配置需要被拦截的页面, 测试使用 -->
		<security:intercept-url pattern="/emp-list" access="ROLE_EMP_LIST"/>
		<security:intercept-url pattern="/emp-input" access="ROLE_EMP_SAVE"/>
		
		<!-- 配置登陆页面 -->
		<security:form-login
			login-page="/login.jsp"
			username-parameter="username"
			password-parameter="password"
			login-processing-url="/security-login"
			default-target-url="/emp-login"
			always-use-default-target="true"
			authentication-failure-url="/login.jsp"/>
	
		<security:logout
			logout-success-url="/login.jsp"
			logout-url="/security-logout"
			invalidate-session="false" />
		
	</security:http>
	
	<!-- 配置用户信息 -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
			<!-- 配置密码加密的方式 -->
			<security:password-encoder hash="md5">
				<security:salt-source user-property="username"/>
			</security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
